stages:
  - test
  - build

test:
  image: node:20
  stage: test
  script:
    - echo "Running tests..."
    - npm install jest
    - npm test

build:
  image: node:20
  stage: build
  needs:
    - job: test
      artifacts: false
  script:
    - echo "Installing terser..."
    - npm install terser -g

    - echo "Minifying dnsclient.js..."
    - terser src/dnsclient.js -c -m -o dist/dnsclient.min.js

    - echo "Update headers"
    - |
        FILES=("src/dnsclient.js" "dist/dnsclient.min.js")
        MODIFIED_DATE=$(date +"%A, %dth %B %Y %I:%M:%S %P")

        for FILE in "${FILES[@]}"; do
            HEADER=$(sed "s#{{FILENAME}}#$FILE#; s#{{MODIFIED_DATE}}#$MODIFIED_DATE#" header.tmpl)
            sed -i '/\/\*/,/\*\//d' "$FILE"
            echo -e "$HEADER\n$(cat $FILE)" > "$FILE"
        done

    - echo "Commit to repository"
    - git config user.name "CI BOT"
    - git config user.email "project_5_bot_4b1274d4e2cb212b3e763c5dccfe1fed@noreply.gitlab.dremaxx.de"
    - git add src/dnsclient.js dist/dnsclient.min.js
    - git commit -m "minified and updated header" || echo "No changes to commit"
    - git push https://oauth2:${CI_JOB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git HEAD:$CI_COMMIT_REF_NAME
  when: manual
