stages:
  - test
  - publish

test:
  image: node:20
  stage: test
  script:
    - echo "Running tests..."
    - npm install jest
    - npm test

publish:
  image: node:20
  stage: publish
  needs:
    - job: test
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'
      when: always
  script:
    - echo "//registry.npmjs.org/:_authToken=${NPMJS_TOKEN}" > ~/.npmrc
    - echo "Installing terser..."
    - npm install terser -g

    - echo "Minifying..."
    - terser src/dnsclient.js -c -m -o dnsclient.min.js

    - echo "Update headers..."
    - |
        FILES=("dnsclient.min.js")
        MODIFIED_DATE=$(date +"%A, %dth %B %Y %I:%M:%S %P")

        for FILE in "${FILES[@]}"; do
            HEADER=$(sed "s#{{FILENAME}}#$FILE#; s#{{MODIFIED_DATE}}#$MODIFIED_DATE#" header.tmpl)
            sed -i '/\/\*/,/\*\//d' "$FILE"
            echo -e "$HEADER\n$(cat $FILE)" > "$FILE"
        done

    - echo "Publishing..."
    - VERSION=${CI_COMMIT_TAG#v}
    - npm version "$VERSION" --no-git-tag-version
    - npm publish