stages:
  - build

minify_and_update_header:
  image: node:20
  stage: build
  script:
    - echo "Installing terser..."
    - npm install terser -g

    - echo "Minifying dnsclient.js..."
    - terser src/dnsclient.js -c -m -o dist/dnsclient.min.js

    - echo "Update headers"
    - |
        FILES=("src/dnsclient.js" "dist/dnsclient.min.js")
        MODIFIED_DATE=$(date +"%A, %dth %B %Y %I:%M:%S %P")

        for FILE in "${FILES[@]}"; do
            HEADER=$(sed "s#{{FILENAME}}#$FILE#; s#{{MODIFIED_DATE}}#$MODIFIED_DATE#" header.tmpl)
            sed -i '/\/\*/,/\*\//d' "$FILE"
            echo -e "$HEADER\n$(cat $FILE)" > "$FILE"
        done

    - echo "Commit to repository"
    - |
        git config user.email "ci.gitlab@dremaxx.de";
        git config user.name "CI Bot";
        git add src/dnsclient.js dist/dnsclient.min.js;
        git commit -m "ci: update minified dnsclient.js [skip ci]";
        git push https://oauth2:${CI_JOB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git HEAD:${CI_COMMIT_REF_NAME};
